.mains {
  width: 90%;
  margin: 0 auto;
  background-color: white;
  height: 100%;
}

.title {
  font-family: "righteous";
  font-size: 3.5em;
  color: rgba(0, 0, 0, 0.747);
}


.description {
  font-size: 1.2em;
}



.logos{

  width: 120px;
  height: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../assets//google-tasks-venez-a-bout-de-toutes-vos-taches-er4IE9-removebg-preview.png");

}

.ulNavBar{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.836);
  border-bottom: 2px solid rgba(128, 128, 128, 0.418);
}

@media screen and (max-width: 768px) {
  .description {
    display: none;
  }
  .title{
    font-size: 2em;
  }
  .ulNavBar, .Page{
    font-size: 12px;
  }

}