.titreMyproject {
  font-weight: bold;
  font-size: 26px;
  color: rgba(0, 0, 0, 0.747);
}

.contentMyproject {
  height: 60vh;
  border: 2px solid rgba(128, 128, 128, 0.185);
  border-radius: 10px;
}

.headMyProject {
  display: flex;
  height: 10%;
  align-items: center;
  border-bottom: 2px solid rgba(128, 128, 128, 0.185);
  font-weight: bold;
  justify-content: space-between;
}

.BodyMyProject {
  display: flex;
  height: 20%;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid rgba(128, 128, 128, 0.185);
}

.BodyProject {
  display: flex;
  height: 8%;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid rgba(128, 128, 128, 0.185);
}

li {
  list-style: none;
}

.Date,
.Statuts,
.Priorite {
  width: 20%;
}

.Dates,
.Priorites {
  width: 30%;
}

.fait {
  width: 10%;
}

.Pris {
  width: 30%;
}

.Titres {
  width: 30%;
}

.more {
  width: 5%;
}

.LISTE {
  height: 30%;
  overflow-y: scroll;
}

.LISTES {
  height: 85%;
  overflow-y: scroll;
}

@media screen and (max-width: 768px) {
  .Pris {
    display: none;
  }

  .more {
    width: 10%;
  }
  .Priorite {
    width: 20%;
  }
  .Statuts,
  .Priorites {
    display: none;
  }
  .Titres {
    width: 40%;
    margin-left: 10px;
  }

  .fait {
    width: 30%;
  }
}

.iconeDone {
  color: rgba(17, 209, 17, 0.979);
  cursor: pointer;
}

.red-icon,
.retirerIcone {
  color: rgba(255, 0, 0, 0.637);
}

.retirerIcone {
  cursor: pointer;
}

.mycreate {
  font-weight: bold;
  border-bottom: 2px solid rgba(128, 128, 128, 0.185);
}
